<main>
    <aside class="left">
        <div class="infHome">
            <p>Mocoa</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Quo obcaecati corporis dolorum expedita a id nobis dolore 
               tenetur accusamus eaque repellendus, maiores, illo ab enim ut sint aspernatur,
               nemo explicabo?
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Quo obcaecati corporis dolorum expedita a id nobis dolore 
               tenetur accusamus eaque repellendus, maiores, illo ab enim ut sint aspernatur,
               nemo explicabo?
            </p>
        </div>
        <div class="redes">
            <a href="#"><img src= {{instagram}} alt="instagram" ></a>
            <a href="#"><img src= {{facebook}} alt="facebook"></a>
            <a href="#"><img src= {{twiter}} alt="twiter"></a>
            <a href="#"><img src= {{youtube}} alt="youtube"></a>            
        </div>

    </aside>
    <aside class="right">

    </aside>
</main>
