<main>
    <div class="datos">
        <div class="datosRestaurante" >
            <form>
                <h1>Datos del Restaurante</h1>
                <input placeholder="nombre del restaurante" type="text">
                <input placeholder="Ubicacion">
                <input placeholder="Direccion" >
                <input placeholder="Hora del Servicio">
                <textarea name="planes" placeholder="servicios que presta"></textarea>
                <button>Guardar</button>
                <button>Actualizar</button>
            </form>
        </div>
        <div class="medioDePago">
           
        </div>
       
    </div>
</main>
