<main>
    <div class="datos">
        <div class="datosTransporte" >
            <form>
                <h1>Datos de transporte</h1>
                <input placeholder="nombre de transporte" type="text">
                <input placeholder="Ubicacion">
                <input placeholder="Direccion" >
                
                <input placeholder="Hora del Servicio">
                <textarea name="planes" placeholder="Planes que presta"></textarea>
                <button>Guardar</button>
                <button>Actualizar</button>
            </form>
        </div>
        <div class="medioDePago">
           
        </div>
       
    </div>
</main>
