<main>
    <div class="datos">
        <div class="datosTurista">
            <form>
                <h1>Datos del turista</h1>
                <input placeholder="nombre del turista" type="text">
                <input placeholder="identificacion">
                <input placeholder="telefono" >
                <input placeholder="direccion">
                <input placeholder="pais">
                <textarea name="descripcion" placeholder="Planes que presta"></textarea>
                <button>Guardar</button>
                <button>Actualizar</button>
            </form>
        </div>
        <div class="medioDePago">
           
        </div>
       
    </div>
</main>