main{
    background-color: rgba(255,255,255,0.8);
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 8%;
    border-radius: 6px;
    box-shadow: 0 0 10px black;
    float: left;
}

.datos{
    background-image: url('../../../../assets/img/hotel.jpg');
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: center; 
    width: 98%;
    height: 95%;
    margin: 2% 1%;
    border-radius: 6px;
    float: left;
}

.datosHotel{
    background-color: rgba(255,255,255,0.8);
    width: 30%;
    height: 100%;
    float: left;

}


.medioDePago{
    background-color: rgba(78, 108, 243, 0.2);
    width: 70%;
    height: 90%;
    border-radius: 6px;
    float: left;
}

button{
    background-color: rgba(78, 109, 243, 0.719);
    width: 90%;
    height: 8%;
    border-radius: 6px;
    color: white;
    font-size: 1.2vw;
    margin-bottom: 4%;
    margin-left: 5%;
}

form{
    background-color: rgba(255,255,255,0.8);
    width: 90%;
    height: 80%;
    margin: 0 5%;
}

input, select{
    width: 100%;
    height: 8%;
    margin-bottom: 2%;
    border-radius: 6px;
    float: left;
}

textarea{
    width: 100%;
    min-height: 80px;
}

h1{
    text-align: center;
}